@import "./common/var.scss";
@import "./mixins//mixin.scss";
@include b(col) {
  @for $i from 1 through 24 {
    box-sizing: border-box;
    &.z-col-span-#{$i} {
      max-width: (1/24 * $i * 100) * 1%;
      flex: (1/24 * $i * 100) * 1%;
    }
    &.z-col-offset-#{$i} {
      margin-left: (1/24 * $i * 100) * 1%;
    }
  }
}
